In [64]:
from pyspark.sql import SparkSession
import pyspark
from pyspark import SparkContext, SparkConf
from pyspark.sql.functions import collect_list, col
from pyspark.ml.feature import VectorAssembler, StandardScaler
from pyspark.ml.clustering import KMeans, BisectingKMeans
from pyspark.ml.evaluation import ClusteringEvaluator

# **Q: 01**

In [ ]:
spark = SparkSession.builder.master('local[*]').appName("Lab 09").getOrCreate()

In [ ]:
rdd1 = spark.read.csv("emp1.txt", sep=',', inferSchema=True, header=True)

rdd1.show()

+------+--------+--------------------+
|emp_id|emp_name|            emp_dept|
+------+--------+--------------------+
|     1|    John|   Digital Marketing|
|     2|   Alice|Software Development|
|     3|     Bob|        Data Science|
|     4| Charlie|     Human Resources|
|     5|     Eve|             Finance|
|     6| Michael|Software Development|
|     7|  Olivia|        Data Science|
|     8|  Sophia|             Finance|
|     9|    Liam|        Data Science|
|    10|   Emily|Software Development|
|    11|   James|             Finance|
|    12|Benjamin|   Digital Marketing|
|    13|    Emma|Software Development|
|    14|     Ava|        Data Science|
|    15|Isabella|     Human Resources|
|    16|   Lucas|             Finance|
|    17|   Avery|Software Development|
|    18|   Grace|        Data Science|
|    19|   Ethan|     Human Resources|
|    20|Scarlett|Software Development|
+------+--------+--------------------+
only showing top 20 rows

In [ ]:
rdd2 = spark.read.csv("emp2.txt", sep=',', inferSchema=True, header=True)

rdd2.show()

+------+----------+--------------+
|emp_id|emp_salary|emp_experience|
+------+----------+--------------+
|     1|     50000|             2|
|     2|     65000|             5|
|     3|     70000|             3|
|     4|     55000|             1|
|     5|     60000|             4|
|     6|     80000|             6|
|     7|     90000|             3|
|     8|     75000|             2|
|     9|     55000|             4|
|    10|     70000|             5|
|    11|     60000|             3|
|    12|     45000|             1|
|    13|     85000|             7|
|    14|     75000|             4|
|    15|     70000|             2|
|    16|     80000|             3|
|    17|     55000|             1|
|    18|     65000|             4|
|    19|     60000|             2|
|    20|     70000|             3|
+------+----------+--------------+
only showing top 20 rows

In [ ]:
rdd3 = rdd1.join(rdd2, rdd2.emp_id == rdd1.emp_id).select(rdd1.emp_id, 'emp_name', 'emp_dept', 'emp_salary')

rdd3.show()

+------+--------+--------------------+----------+
|emp_id|emp_name|            emp_dept|emp_salary|
+------+--------+--------------------+----------+
|     1|    John|   Digital Marketing|     50000|
|     2|   Alice|Software Development|     65000|
|     3|     Bob|        Data Science|     70000|
|     4| Charlie|     Human Resources|     55000|
|     5|     Eve|             Finance|     60000|
|     6| Michael|Software Development|     80000|
|     7|  Olivia|        Data Science|     90000|
|     8|  Sophia|             Finance|     75000|
|     9|    Liam|        Data Science|     55000|
|    10|   Emily|Software Development|     70000|
|    11|   James|             Finance|     60000|
|    12|Benjamin|   Digital Marketing|     45000|
|    13|    Emma|Software Development|     85000|
|    14|     Ava|        Data Science|     75000|
|    15|Isabella|     Human Resources|     70000|
|    16|   Lucas|             Finance|     80000|
|    17|   Avery|Software Development|     55000|
|    18|   Grace|        Data Science|     65000|
|    19|   Ethan|     Human Resources|     60000|
|    20|Scarlett|Software Development|     70000|
+------+--------+--------------------+----------+
only showing top 20 rows

# **Q: 02**

In [ ]:
rdd4 = rdd1.join(rdd2, rdd2.emp_id == rdd1.emp_id, "left_outer").select(rdd1.emp_id, 'emp_name', 'emp_dept', 'emp_salary')

rdd4.show()

+------+--------+--------------------+----------+
|emp_id|emp_name|            emp_dept|emp_salary|
+------+--------+--------------------+----------+
|     1|    John|   Digital Marketing|     50000|
|     2|   Alice|Software Development|     65000|
|     3|     Bob|        Data Science|     70000|
|     4| Charlie|     Human Resources|     55000|
|     5|     Eve|             Finance|     60000|
|     6| Michael|Software Development|     80000|
|     7|  Olivia|        Data Science|     90000|
|     8|  Sophia|             Finance|     75000|
|     9|    Liam|        Data Science|     55000|
|    10|   Emily|Software Development|     70000|
|    11|   James|             Finance|     60000|
|    12|Benjamin|   Digital Marketing|     45000|
|    13|    Emma|Software Development|     85000|
|    14|     Ava|        Data Science|     75000|
|    15|Isabella|     Human Resources|     70000|
|    16|   Lucas|             Finance|     80000|
|    17|   Avery|Software Development|     55000|
|    18|   Grace|        Data Science|     65000|
|    19|   Ethan|     Human Resources|     60000|
|    20|Scarlett|Software Development|     70000|
+------+--------+--------------------+----------+
only showing top 20 rows

# **Q: 03**

In [ ]:
rdd5 = rdd1.join(rdd2, rdd2.emp_id == rdd1.emp_id, "left_outer").withColumn("Total Salary", rdd2.emp_salary*rdd2.emp_experience).select(rdd1.emp_id, 'Total Salary')

rdd5.show()

+------+------------+
|emp_id|Total Salary|
+------+------------+
|     1|      100000|
|     2|      325000|
|     3|      210000|
|     4|       55000|
|     5|      240000|
|     6|      480000|
|     7|      270000|
|     8|      150000|
|     9|      220000|
|    10|      350000|
|    11|      180000|
|    12|       45000|
|    13|      595000|
|    14|      300000|
|    15|      140000|
|    16|      240000|
|    17|       55000|
|    18|      260000|
|    19|      120000|
|    20|      210000|
+------+------------+
only showing top 20 rows

In [ ]:
spark.stop()

# **Q: 04**

In [ ]:
conf = SparkConf().setAppName("Lab 09").setMaster("local")
sc = SparkContext(conf = conf)

In [14]:
rdd1 = sc.parallelize([(1, 'Emama'), (2, 'Iqra')])

rdd2 = sc.parallelize([(1, 20), (2, 22)])

In [15]:
broadcastAges = sc.broadcast(dict(rdd2.collect()))
rdd3 = rdd1.map(lambda x: (x[0], x[1], broadcastAges.value[x[0]]))

rdd3.collect()

[(1, 'Emama', 20), (2, 'Iqra', 22)]

# **Q: 05**

In [16]:
rdd4 = sc.parallelize([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [17]:
sum = sc.accumulator(0)

In [18]:
def func(x):
  global sum
  sum += x

In [19]:
rdd4.foreach(func)
final = sum.value

print("Accumulated value is -> %i" % (final))

Accumulated value is -> 55

In [20]:
sc.stop()

# **Q: 06**

In [21]:
spark = SparkSession.builder.master('local[*]').appName("Lab 09").getOrCreate()

In [22]:
df = spark.read.csv("Movies - Movies.csv", inferSchema=True, header=True)

df.show()

+----+------+--------------------+-------+--------------------+-----------------+--------------------+----------+------+-------------------+
|Year|Length|               Title|  Genre|               Actor|          Actress|            Director|Popularity|Awards|              Image|
+----+------+--------------------+-------+--------------------+-----------------+--------------------+----------+------+-------------------+
|1990|   111|Tie Me Up! Tie Me...| Comedy|     BanderasAntonio|    AbrilVictoria|      AlmodóvarPedro|        68|    No|   NicholasCage.png|
|1991|   113|          High Heels| Comedy|          BoséMiguel|    AbrilVictoria|      AlmodóvarPedro|        68|    No|   NicholasCage.png|
|1983|   104|        Dead ZoneThe| Horror|   WalkenChristopher|      AdamsBrooke|     CronenbergDavid|        79|    No|   NicholasCage.png|
|1979|   122|                Cuba| Action|         ConnerySean|      AdamsBrooke|       LesterRichard|         6|    No|    seanConnery.png|
|1978|    94|      Days of Heaven|  Drama|         GereRichard|      AdamsBrooke|      MalickTerrence|        14|    No|   NicholasCage.png|
|1983|   140|           Octopussy| Action|          MooreRoger|        AdamsMaud|            GlenJohn|        68|    No|   NicholasCage.png|
|1984|   101|        Target Eagle| Action|        ConnorsChuck|        AdamsMaud|LomaJosé Antonio ...|        14|    No|   NicholasCage.png|
|1989|    99|American Angels: ...|  Drama|     BergenRobert D.|       AdamsTrudy|    SebastianBeverly|        28|    No|   NicholasCage.png|
|1985|   104|              Subway|  Drama|  LambertChristopher|   AdjaniIsabelle|           BessonLuc|         6|    No|   NicholasCage.png|
|1990|   149|     Camille Claudel|  Drama|     DepardieuGérard|   AdjaniIsabelle|        NuyttenBruno|        32|    No|   NicholasCage.png|
|1982|   188| Fanny and Alexander|  Drama|       AhlstedtBörje|AdolphsonKristina|       BergmanIngmar|        81|   Yes|        Bergman.png|
|1982|   117|Tragedy of a Ridi...|  Drama|         TognazziUgo|       AimeeAnouk|  BertolucciBernardo|        17|    No|   NicholasCage.png|
|1966|   103|     A Man & a Woman|  Drama|TrintignantJean-L...|       AimeeAnouk|       LelouchClaude|        46|   Yes|   NicholasCage.png|
|1986|   112|A Man & a Woman: ...|  Drama|TrintignantJean-L...|       AimeeAnouk|       LelouchClaude|        49|    No|   NicholasCage.png|
|1966|   103|Un Hombre y una M...|  Drama|TrintignantJean-L...|       AimeeAnouk|       LelouchClaude|         6|   Yes|   NicholasCage.png|
|1985|   112|   Official StoryThe|  Drama|       AlterioHector|    AleandroNorma|          PuenzoLuiz|        39|   Yes|   NicholasCage.png|
|1976|   150|Lindbergh Kidnapp...|  Drama|      HopkinsAnthony|  AlexanderDenise|           KulikBuzz|        51|    No| AnthonyHopkins.png|
|1929|    84|           Blackmail|Mystery|         LongdenJohn|       AlgoodSara|     HitchcockAlfred|         2|    No|alfredHitchcock.png|
|1963|   109|      Donovan's Reef| Comedy|           WayneJohn|   AllenElizabeth|            FordJohn|        62|    No|      johnWayne.png|
|1988|   110|Tucker: The Man &...|  Drama|         BridgesJeff|        AllenJoan| CoppolaFrancis Ford|        68|    No|   NicholasCage.png|
+----+------+--------------------+-------+--------------------+-----------------+--------------------+----------+------+-------------------+
only showing top 20 rows

In [23]:
df.printSchema()

root
 |-- Year: integer (nullable = true)
 |-- Length: integer (nullable = true)
 |-- Title: string (nullable = true)
 |-- Genre: string (nullable = true)
 |-- Actor: string (nullable = true)
 |-- Actress: string (nullable = true)
 |-- Director: string (nullable = true)
 |-- Popularity: integer (nullable = true)
 |-- Awards: string (nullable = true)
 |-- Image: string (nullable = true)

In [24]:
rdd = df.select('Title', 'Year', 'Director').filter((df['Genre'] == 'Action') & (df['Awards'] == 'Yes'))

rdd.show()

+-----+----+--------+
|Title|Year|Director|
+-----+----+--------+
+-----+----+--------+

# **Q: 07**

In [27]:
rdd1 = df.select('Actor', 'Title', 'Director').filter(df['Awards'] == 'Yes').groupBy('Actor').agg(collect_list('Title').alias('Movies'), collect_list('Director').alias('Directors'))

rdd1.show(truncate=False)

+-----------------+----------------------------------------------------------------+--------------------------------------------+
|Actor            |Movies                                                          |Directors                                   |
+-----------------+----------------------------------------------------------------+--------------------------------------------+
|LintDerek De     |[AssaultThe]                                                    |[RademakersFons]                            |
|LancasterBurt    |[Airport, Come BackLittle Sheba]                                |[SeatonGeorge, MannDaniel]                  |
|BridgesBeau      |[Norma Rae]                                                     |[RittMartin]                                |
|CapolicchioLino  |[Garden of the Finzi-ContinisThe]                               |[De SicaVittorio]                           |
|LoneJohn         |[Last EmperorThe]                                               |[BertolucciBernardo]                        |
|IronsJeremy      |[Reversal of Fortune]                                           |[SchroederBarbet]                           |
|AumontJean-Pierre|[Day for Night]                                                 |[TruffautFrançois]                          |
|HarrisEd         |[Places in the Heart]                                           |[BentonRobert]                              |
|ConnerySean      |[UntouchablesThe]                                               |[De PalmaBrian]                             |
|HarrisonRex      |[My Fair Lady]                                                  |[CukorGeorge]                               |
|HudsonRock       |[Giant]                                                         |[StevensGeorge]                             |
|TracySpencer     |[Judgment at Nuremberg, Guess Who's Coming to Dinner, Boys Town]|[KramerStanley, KramerStanley, TaurogNorman]|
|StrouseNocholas  |[Doin' Time on Planet Earth]                                    |[MatthauCharles]                            |
|BeymerRichard    |[West Side Story]                                               |[WiseRobert]                                |
|KlineKevin       |[Sophie's Choice]                                               |[PakulaAlan J.]                             |
|GreyJoel         |[Cabaret]                                                       |[FosseBob]                                  |
|AielloDanny      |[Purple Rose of CairoThe]                                       |[AllenWoody]                                |
|BelmondoJean-Paul|[Two Women]                                                     |[De SicaVittorio]                           |
|MooreDudley      |[Arthur]                                                        |[GordonSteve]                               |
|RobertsonCliff   |[Charly]                                                        |[NelsonRalph]                               |
+-----------------+----------------------------------------------------------------+--------------------------------------------+
only showing top 20 rows

# **Q: 08**

In [28]:
rdd2 = df.select('title').filter(df['Awards'] == 'No').orderBy(df['Popularity'].desc()).limit(10)

rdd2.show()

+--------------------+
|               title|
+--------------------+
|        Five Corners|
|Ballad of Narayam...|
|         Let It Ride|
|        Final Notice|
|      New Year's Day|
| Guilty by Suspicion|
|   Fellini Satyricon|
|           Raw Nerve|
|     Time MachineThe|
| Long Voyage HomeThe|
+--------------------+

# **Q: 09**

In [29]:
rdd3 = df.select('Title').filter(df['Year'] < '1980').orderBy(df['Popularity'].asc()).limit(10)

rdd3.show()

+------------------+
|             Title|
+------------------+
|   White Lightning|
|      Drop KickThe|
|      Desert Rider|
| Bank on the Stars|
|           Shalako|
|           Airport|
|     Anna Christie|
|Shout at the Devil|
| Tales of Tomorrow|
|         Holocaust|
+------------------+

# **Q: 10**

In [30]:
rdd14 = df.select('Title').filter(df['Year'] < 1990).orderBy('Title')

rdd14.show()

+--------------------+
|               Title|
+--------------------+
|2001: A Space Ody...|
|             48 Hrs.|
|               8 1/2|
|A Big Hand for th...|
|  A Child Is Waiting|
|A Chorus LineThe ...|
|  A Clockwork Orange|
|A Coeur Joie(Head...|
|   A Cry in the Dark|
|  A Dry White Season|
|      A Fine Madness|
| A Fish Called Wanda|
|A Fistful of Dollars|
|     A Guy Named Joe|
|    A Lesson in Love|
|A Little Night Music|
|     A Man & a Woman|
|A Man & a Woman: ...|
|A Man for All Sea...|
|    A Matter of Time|
+--------------------+
only showing top 20 rows

# **Q: 11**

In [51]:
df =  spark.read.csv('WineQT.csv', inferSchema=True, header=True)

df.show()

+-------------+----------------+-----------+--------------+-------------------+-------------------+--------------------+-------+----+---------+-------+-------+---+
|fixed acidity|volatile acidity|citric acid|residual sugar|          chlorides|free sulfur dioxide|total sulfur dioxide|density|  pH|sulphates|alcohol|quality| Id|
+-------------+----------------+-----------+--------------+-------------------+-------------------+--------------------+-------+----+---------+-------+-------+---+
|          7.4|             0.7|        0.0|           1.9|              0.076|               11.0|                34.0| 0.9978|3.51|     0.56|    9.4|      5|  0|
|          7.8|            0.88|        0.0|           2.6|              0.098|               25.0|                67.0| 0.9968| 3.2|     0.68|    9.8|      5|  1|
|          7.8|            0.76|       0.04|           2.3|              0.092|               15.0|                54.0|  0.997|3.26|     0.65|    9.8|      5|  2|
|         11.2|            0.28|       0.56|           1.9|              0.075|               17.0|                60.0|  0.998|3.16|     0.58|    9.8|      6|  3|
|          7.4|             0.7|        0.0|           1.9|              0.076|               11.0|                34.0| 0.9978|3.51|     0.56|    9.4|      5|  4|
|          7.4|            0.66|        0.0|           1.8|              0.075|               13.0|                40.0| 0.9978|3.51|     0.56|    9.4|      5|  5|
|          7.9|             0.6|       0.06|           1.6|              0.069|               15.0|                59.0| 0.9964| 3.3|     0.46|    9.4|      5|  6|
|          7.3|            0.65|        0.0|           1.2|              0.065|               15.0|                21.0| 0.9946|3.39|     0.47|   10.0|      7|  7|
|          7.8|            0.58|       0.02|           2.0|              0.073|                9.0|                18.0| 0.9968|3.36|     0.57|    9.5|      7|  8|
|          6.7|            0.58|       0.08|           1.8|0.09699999999999999|               15.0|                65.0| 0.9959|3.28|     0.54|    9.2|      5| 10|
|          5.6|           0.615|        0.0|           1.6|0.08900000000000001|               16.0|                59.0| 0.9943|3.58|     0.52|    9.9|      5| 12|
|          7.8|            0.61|       0.29|           1.6|              0.114|                9.0|                29.0| 0.9974|3.26|     1.56|    9.1|      5| 13|
|          8.5|            0.28|       0.56|           1.8|              0.092|               35.0|               103.0| 0.9969| 3.3|     0.75|   10.5|      7| 16|
|          7.9|            0.32|       0.51|           1.8|              0.341|               17.0|                56.0| 0.9969|3.04|     1.08|    9.2|      6| 19|
|          7.6|            0.39|       0.31|           2.3|0.08199999999999999|               23.0|                71.0| 0.9982|3.52|     0.65|    9.7|      5| 21|
|          7.9|            0.43|       0.21|           1.6|              0.106|               10.0|                37.0| 0.9966|3.17|     0.91|    9.5|      5| 22|
|          8.5|            0.49|       0.11|           2.3|              0.084|                9.0|                67.0| 0.9968|3.17|     0.53|    9.4|      5| 23|
|          6.9|             0.4|       0.14|           2.4|              0.085|               21.0|                40.0| 0.9968|3.43|     0.63|    9.7|      6| 24|
|          6.3|            0.39|       0.16|           1.4|               0.08|               11.0|                23.0| 0.9955|3.34|     0.56|    9.3|      5| 25|
|          7.6|            0.41|       0.24|           1.8|               0.08|                4.0|                11.0| 0.9962|3.28|     0.59|    9.5|      5| 26|
+-------------+----------------+-----------+--------------+-------------------+-------------------+--------------------+-------+----+---------+-------+-------+---+
only showing top 20 rows

In [52]:
df.printSchema()

root
 |-- fixed acidity: double (nullable = true)
 |-- volatile acidity: double (nullable = true)
 |-- citric acid: double (nullable = true)
 |-- residual sugar: double (nullable = true)
 |-- chlorides: double (nullable = true)
 |-- free sulfur dioxide: double (nullable = true)
 |-- total sulfur dioxide: double (nullable = true)
 |-- density: double (nullable = true)
 |-- pH: double (nullable = true)
 |-- sulphates: double (nullable = true)
 |-- alcohol: double (nullable = true)
 |-- quality: integer (nullable = true)
 |-- Id: integer (nullable = true)

In [53]:
df = df.drop('Id')

In [54]:
df.describe().show()

+-------+------------------+-------------------+-------------------+------------------+-------------------+-------------------+--------------------+--------------------+------------------+------------------+------------------+------------------+
|summary|     fixed acidity|   volatile acidity|        citric acid|    residual sugar|          chlorides|free sulfur dioxide|total sulfur dioxide|             density|                pH|         sulphates|           alcohol|           quality|
+-------+------------------+-------------------+-------------------+------------------+-------------------+-------------------+--------------------+--------------------+------------------+------------------+------------------+------------------+
|  count|              1143|               1143|               1143|              1143|               1143|               1143|                1143|                1143|              1143|              1143|              1143|              1143|
|   mean| 8.311111111111119|  0.531338582677165|0.26836395450568584|2.5321522309711257|0.08693263342082212| 15.615485564304462|   45.91469816272966|  0.9967304111986008|3.3110148731408593|0.6577077865266842| 10.44211140274131| 5.657042869641295|
| stddev|1.7475950171695376|0.17963319302252453|0.19668585234821898|1.3559174666826797|0.04726733795238058|  10.25048612343082|  32.782130307343095|0.001925067130254...|0.1566640597727519| 0.170398714467074|1.0821956098764425|0.8058242481000955|
|    min|               4.6|               0.12|                0.0|               0.9|              0.012|                1.0|                 6.0|  0.9900700000000001|              2.74|              0.33|               8.4|                 3|
|    max|              15.9|               1.58|                1.0|              15.5|              0.611|               68.0|               289.0|             1.00369|              4.01|               2.0|              14.9|                 8|
+-------+------------------+-------------------+-------------------+------------------+-------------------+-------------------+--------------------+--------------------+------------------+------------------+------------------+------------------+

In [55]:
df = df.na.drop()

In [57]:
for column in df.columns:
  quantiles = df.approxQuantile(column, [0.25, 0.75], 0)
  IQR = quantiles[1] - quantiles[0]
  lower_bound = quantiles[0] - 1.5 * IQR
  upper_bound = quantiles[1] + 1.5 * IQR
  outliers = df.filter((col(column) < lower_bound) | (col(column) > upper_bound)).count()
  df = df.filter((col(column) > lower_bound) | (col(column) < upper_bound))
  print(f"Number of Outliers in {column}: {outliers}")

Number of Outliers in fixed acidity: 44
Number of Outliers in volatile acidity: 14
Number of Outliers in citric acid: 1
Number of Outliers in residual sugar: 110
Number of Outliers in chlorides: 77
Number of Outliers in free sulfur dioxide: 18
Number of Outliers in total sulfur dioxide: 40
Number of Outliers in density: 36
Number of Outliers in pH: 20
Number of Outliers in sulphates: 43
Number of Outliers in alcohol: 12
Number of Outliers in quality: 22

In [58]:
df = df.na.drop()

In [59]:
for i in range(len(df.columns)):
  for j in range(i+1, len(df.columns)):
    correlation = df.corr(df.columns[i], df.columns[j])
    print(f"Correlation between {df.columns[i]} and {df.columns[j]} : {correlation}")

Correlation between fixed acidity and volatile acidity : -0.2507283222922268
Correlation between fixed acidity and citric acid : 0.6731572507629239
Correlation between fixed acidity and residual sugar : 0.17183053523615716
Correlation between fixed acidity and chlorides : 0.10788856981486483
Correlation between fixed acidity and free sulfur dioxide : -0.16483079329778239
Correlation between fixed acidity and total sulfur dioxide : -0.11062836769999608
Correlation between fixed acidity and density : 0.6815008826691711
Correlation between fixed acidity and pH : -0.6851625988235485
Correlation between fixed acidity and sulphates : 0.17459182521278463
Correlation between fixed acidity and alcohol : -0.07505485317982606
Correlation between fixed acidity and quality : 0.12197009989725943
Correlation between volatile acidity and citric acid : -0.5441869374183994
Correlation between volatile acidity and residual sugar : -0.005751096727715592
Correlation between volatile acidity and chlorides : 0.05633625898948126
Correlation between volatile acidity and free sulfur dioxide : -0.0019624789024567917
Correlation between volatile acidity and total sulfur dioxide : 0.07774772174216345
Correlation between volatile acidity and density : 0.016511519698428626
Correlation between volatile acidity and pH : 0.2214915179882762
Correlation between volatile acidity and sulphates : -0.27607859664162426
Correlation between volatile acidity and alcohol : -0.20390927263243766
Correlation between volatile acidity and quality : -0.40739351292438425
Correlation between citric acid and residual sugar : 0.175814853651844
Correlation between citric acid and chlorides : 0.24531248978995254
Correlation between citric acid and free sulfur dioxide : -0.05758910401502516
Correlation between citric acid and total sulfur dioxide : 0.0368711101713151
Correlation between citric acid and density : 0.3752432604912543
Correlation between citric acid and pH : -0.5463391381265055
Correlation between citric acid and sulphates : 0.33123175783491793
Correlation between citric acid and alcohol : 0.10625034325328203
Correlation between citric acid and quality : 0.24082083714719305
Correlation between residual sugar and chlorides : 0.07086311181911288
Correlation between residual sugar and free sulfur dioxide : 0.16533879712523447
Correlation between residual sugar and total sulfur dioxide : 0.1907900349517252
Correlation between residual sugar and density : 0.38014695171471324
Correlation between residual sugar and pH : -0.11695893598551789
Correlation between residual sugar and sulphates : 0.01747450374054128
Correlation between residual sugar and alcohol : 0.05842060594172387
Correlation between residual sugar and quality : 0.022001930579966876
Correlation between chlorides and free sulfur dioxide : 0.01528045810364371
Correlation between chlorides and total sulfur dioxide : 0.048163160897929734
Correlation between chlorides and density : 0.20890071067822694
Correlation between chlorides and pH : -0.2777590680558625
Correlation between chlorides and sulphates : 0.37478389389790295
Correlation between chlorides and alcohol : -0.22991709420711673
Correlation between chlorides and quality : -0.12408453132892912
Correlation between free sulfur dioxide and total sulfur dioxide : 0.6610928721834333
Correlation between free sulfur dioxide and density : -0.05415031812464183
Correlation between free sulfur dioxide and pH : 0.07280370643845355
Correlation between free sulfur dioxide and sulphates : 0.034445121642756316
Correlation between free sulfur dioxide and alcohol : -0.04709483201545071
Correlation between free sulfur dioxide and quality : -0.06325964147253875
Correlation between total sulfur dioxide and density : 0.050174826989127945
Correlation between total sulfur dioxide and pH : -0.0591257200125416
Correlation between total sulfur dioxide and sulphates : 0.026893682152839316
Correlation between total sulfur dioxide and alcohol : -0.18816479879899578
Correlation between total sulfur dioxide and quality : -0.18333914747213004
Correlation between density and pH : -0.3527746247768658
Correlation between density and sulphates : 0.14313929001288808
Correlation between density and alcohol : -0.49472689818400745
Correlation between density and quality : -0.1752079232264481
Correlation between pH and sulphates : -0.18549903114396318
Correlation between pH and alcohol : 0.22532220287324645
Correlation between pH and quality : -0.05245303335788242
Correlation between sulphates and alcohol : 0.094421126411993
Correlation between sulphates and quality : 0.2577102599306222
Correlation between alcohol and quality : 0.48486621180851264

# **Q: 12**

In [61]:
assembler = VectorAssembler(inputCols=df.columns, outputCol='features')
vectorizedData = assembler.transform(df)

In [63]:
scaler = StandardScaler(inputCol='features', outputCol='scaledFeatures')
model = scaler.fit(vectorizedData)
scaledData = model.transform(vectorizedData)

In [65]:
kMeans = KMeans(featuresCol='scaledFeatures', k=3)
model = kMeans.fit(scaledData)
predictions = model.transform(scaledData)

predictions.show()

+-------------+----------------+-----------+--------------+-------------------+-------------------+--------------------+-------+----+---------+-------+-------+--------------------+--------------------+----------+
|fixed acidity|volatile acidity|citric acid|residual sugar|          chlorides|free sulfur dioxide|total sulfur dioxide|density|  pH|sulphates|alcohol|quality|            features|      scaledFeatures|prediction|
+-------------+----------------+-----------+--------------+-------------------+-------------------+--------------------+-------+----+---------+-------+-------+--------------------+--------------------+----------+
|          7.4|             0.7|        0.0|           1.9|              0.076|               11.0|                34.0| 0.9978|3.51|     0.56|    9.4|      5|[7.4,0.7,0.0,1.9,...|[4.23439064960558...|         1|
|          7.8|            0.88|        0.0|           2.6|              0.098|               25.0|                67.0| 0.9968| 3.2|     0.68|    9.8|      5|[7.8,0.88,0.0,2.6...|[4.46327663066534...|         1|
|          7.8|            0.76|       0.04|           2.3|              0.092|               15.0|                54.0|  0.997|3.26|     0.65|    9.8|      5|[7.8,0.76,0.04,2....|[4.46327663066534...|         1|
|         11.2|            0.28|       0.56|           1.9|              0.075|               17.0|                60.0|  0.998|3.16|     0.58|    9.8|      6|[11.2,0.28,0.56,1...|[6.40880746967331...|         2|
|          7.4|             0.7|        0.0|           1.9|              0.076|               11.0|                34.0| 0.9978|3.51|     0.56|    9.4|      5|[7.4,0.7,0.0,1.9,...|[4.23439064960558...|         1|
|          7.4|            0.66|        0.0|           1.8|              0.075|               13.0|                40.0| 0.9978|3.51|     0.56|    9.4|      5|[7.4,0.66,0.0,1.8...|[4.23439064960558...|         1|
|          7.9|             0.6|       0.06|           1.6|              0.069|               15.0|                59.0| 0.9964| 3.3|     0.46|    9.4|      5|[7.9,0.6,0.06,1.6...|[4.52049812593028...|         1|
|          7.3|            0.65|        0.0|           1.2|              0.065|               15.0|                21.0| 0.9946|3.39|     0.47|   10.0|      7|[7.3,0.65,0.0,1.2...|[4.17716915434064...|         1|
|          7.8|            0.58|       0.02|           2.0|              0.073|                9.0|                18.0| 0.9968|3.36|     0.57|    9.5|      7|[7.8,0.58,0.02,2....|[4.46327663066534...|         1|
|          6.7|            0.58|       0.08|           1.8|0.09699999999999999|               15.0|                65.0| 0.9959|3.28|     0.54|    9.2|      5|[6.7,0.58,0.08,1....|[3.83384018275100...|         1|
|          5.6|           0.615|        0.0|           1.6|0.08900000000000001|               16.0|                59.0| 0.9943|3.58|     0.52|    9.9|      5|[5.6,0.615,0.0,1....|[3.20440373483665...|         1|
|          7.8|            0.61|       0.29|           1.6|              0.114|                9.0|                29.0| 0.9974|3.26|     1.56|    9.1|      5|[7.8,0.61,0.29,1....|[4.46327663066534...|         2|
|          8.5|            0.28|       0.56|           1.8|              0.092|               35.0|               103.0| 0.9969| 3.3|     0.75|   10.5|      7|[8.5,0.28,0.56,1....|[4.86382709751992...|         0|
|          7.9|            0.32|       0.51|           1.8|              0.341|               17.0|                56.0| 0.9969|3.04|     1.08|    9.2|      6|[7.9,0.32,0.51,1....|[4.52049812593028...|         2|
|          7.6|            0.39|       0.31|           2.3|0.08199999999999999|               23.0|                71.0| 0.9982|3.52|     0.65|    9.7|      5|[7.6,0.39,0.31,2....|[4.34883364013546...|         1|
|          7.9|            0.43|       0.21|           1.6|              0.106|               10.0|                37.0| 0.9966|3.17|     0.91|    9.5|      5|[7.9,0.43,0.21,1....|[4.52049812593028...|         1|
|          8.5|            0.49|       0.11|           2.3|              0.084|                9.0|                67.0| 0.9968|3.17|     0.53|    9.4|      5|[8.5,0.49,0.11,2....|[4.86382709751992...|         1|
|          6.9|             0.4|       0.14|           2.4|              0.085|               21.0|                40.0| 0.9968|3.43|     0.63|    9.7|      6|[6.9,0.4,0.14,2.4...|[3.94828317328088...|         1|
|          6.3|            0.39|       0.16|           1.4|               0.08|               11.0|                23.0| 0.9955|3.34|     0.56|    9.3|      5|[6.3,0.39,0.16,1....|[3.60495420169124...|         1|
|          7.6|            0.41|       0.24|           1.8|               0.08|                4.0|                11.0| 0.9962|3.28|     0.59|    9.5|      5|[7.6,0.41,0.24,1....|[4.34883364013546...|         1|
+-------------+----------------+-----------+--------------+-------------------+-------------------+--------------------+-------+----+---------+-------+-------+--------------------+--------------------+----------+
only showing top 20 rows

In [66]:
evaluator = ClusteringEvaluator(featuresCol='scaledFeatures', metricName = 'silhouette', distanceMeasure = 'squaredEuclidean')
kMeans_score = evaluator.evaluate(predictions)

print(f'Silhouette Score for K-Means: {kMeans_score}')

Silhouette Score for K-Means: 0.287294989103867

In [67]:
bisecting_kMeans = BisectingKMeans(featuresCol='scaledFeatures', k=3)
model = bisecting_kMeans.fit(scaledData)
predictions = model.transform(scaledData)

predictions.show()

+-------------+----------------+-----------+--------------+-------------------+-------------------+--------------------+-------+----+---------+-------+-------+--------------------+--------------------+----------+
|fixed acidity|volatile acidity|citric acid|residual sugar|          chlorides|free sulfur dioxide|total sulfur dioxide|density|  pH|sulphates|alcohol|quality|            features|      scaledFeatures|prediction|
+-------------+----------------+-----------+--------------+-------------------+-------------------+--------------------+-------+----+---------+-------+-------+--------------------+--------------------+----------+
|          7.4|             0.7|        0.0|           1.9|              0.076|               11.0|                34.0| 0.9978|3.51|     0.56|    9.4|      5|[7.4,0.7,0.0,1.9,...|[4.23439064960558...|         0|
|          7.8|            0.88|        0.0|           2.6|              0.098|               25.0|                67.0| 0.9968| 3.2|     0.68|    9.8|      5|[7.8,0.88,0.0,2.6...|[4.46327663066534...|         1|
|          7.8|            0.76|       0.04|           2.3|              0.092|               15.0|                54.0|  0.997|3.26|     0.65|    9.8|      5|[7.8,0.76,0.04,2....|[4.46327663066534...|         0|
|         11.2|            0.28|       0.56|           1.9|              0.075|               17.0|                60.0|  0.998|3.16|     0.58|    9.8|      6|[11.2,0.28,0.56,1...|[6.40880746967331...|         2|
|          7.4|             0.7|        0.0|           1.9|              0.076|               11.0|                34.0| 0.9978|3.51|     0.56|    9.4|      5|[7.4,0.7,0.0,1.9,...|[4.23439064960558...|         0|
|          7.4|            0.66|        0.0|           1.8|              0.075|               13.0|                40.0| 0.9978|3.51|     0.56|    9.4|      5|[7.4,0.66,0.0,1.8...|[4.23439064960558...|         0|
|          7.9|             0.6|       0.06|           1.6|              0.069|               15.0|                59.0| 0.9964| 3.3|     0.46|    9.4|      5|[7.9,0.6,0.06,1.6...|[4.52049812593028...|         1|
|          7.3|            0.65|        0.0|           1.2|              0.065|               15.0|                21.0| 0.9946|3.39|     0.47|   10.0|      7|[7.3,0.65,0.0,1.2...|[4.17716915434064...|         0|
|          7.8|            0.58|       0.02|           2.0|              0.073|                9.0|                18.0| 0.9968|3.36|     0.57|    9.5|      7|[7.8,0.58,0.02,2....|[4.46327663066534...|         0|
|          6.7|            0.58|       0.08|           1.8|0.09699999999999999|               15.0|                65.0| 0.9959|3.28|     0.54|    9.2|      5|[6.7,0.58,0.08,1....|[3.83384018275100...|         1|
|          5.6|           0.615|        0.0|           1.6|0.08900000000000001|               16.0|                59.0| 0.9943|3.58|     0.52|    9.9|      5|[5.6,0.615,0.0,1....|[3.20440373483665...|         0|
|          7.8|            0.61|       0.29|           1.6|              0.114|                9.0|                29.0| 0.9974|3.26|     1.56|    9.1|      5|[7.8,0.61,0.29,1....|[4.46327663066534...|         2|
|          8.5|            0.28|       0.56|           1.8|              0.092|               35.0|               103.0| 0.9969| 3.3|     0.75|   10.5|      7|[8.5,0.28,0.56,1....|[4.86382709751992...|         2|
|          7.9|            0.32|       0.51|           1.8|              0.341|               17.0|                56.0| 0.9969|3.04|     1.08|    9.2|      6|[7.9,0.32,0.51,1....|[4.52049812593028...|         2|
|          7.6|            0.39|       0.31|           2.3|0.08199999999999999|               23.0|                71.0| 0.9982|3.52|     0.65|    9.7|      5|[7.6,0.39,0.31,2....|[4.34883364013546...|         1|
|          7.9|            0.43|       0.21|           1.6|              0.106|               10.0|                37.0| 0.9966|3.17|     0.91|    9.5|      5|[7.9,0.43,0.21,1....|[4.52049812593028...|         0|
|          8.5|            0.49|       0.11|           2.3|              0.084|                9.0|                67.0| 0.9968|3.17|     0.53|    9.4|      5|[8.5,0.49,0.11,2....|[4.86382709751992...|         1|
|          6.9|             0.4|       0.14|           2.4|              0.085|               21.0|                40.0| 0.9968|3.43|     0.63|    9.7|      6|[6.9,0.4,0.14,2.4...|[3.94828317328088...|         0|
|          6.3|            0.39|       0.16|           1.4|               0.08|               11.0|                23.0| 0.9955|3.34|     0.56|    9.3|      5|[6.3,0.39,0.16,1....|[3.60495420169124...|         0|
|          7.6|            0.41|       0.24|           1.8|               0.08|                4.0|                11.0| 0.9962|3.28|     0.59|    9.5|      5|[7.6,0.41,0.24,1....|[4.34883364013546...|         0|
+-------------+----------------+-----------+--------------+-------------------+-------------------+--------------------+-------+----+---------+-------+-------+--------------------+--------------------+----------+
only showing top 20 rows

In [68]:
bisecting_kMeans_score = evaluator.evaluate(predictions)

print(f'Silhouette Score for Bisecting K-Means: {bisecting_kMeans_score}')

Silhouette Score for Bisecting K-Means: 0.18656306141538748

In [69]:
spark.stop()